html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  cursor: auto;
}

body {
  background-image: url('tv.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  perspective: 700px;
}
.display-wrapper {
  position: absolute;
  top: 50%;
  left: 35.5vw;
  margin-top: -9.5vw;
  transform: rotateZ(2deg);
}
.display-wrapper:before {
  z-index: 2;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1%;
  background: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0));
}
.display-wrapper:after {
  z-index: 2;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1%;
  background: linear-gradient(270deg, rgba(0,0,0,0.6), rgba(0,0,0,0));
}
canvas {
  width: 34vw;
  transform: rotateY(-5deg);
  z-index: 1;

  cursor: pointer;
  background-color: #000;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  filter: blur(0.05vw) sepia(0.3) brightness(0.9);
  border-radius: 5px;
}
canvas.dragging {
  filter: blur(0.05vw) sepia(0.3) brightness(0.9) drop-shadow(0px 0px 4vw #FF6633);
  border-radius: 1vw;
}

.notifications {
  position: fixed;
  right: 2em;
  top: 2em;
  width: 22em;
  margin: 0;
  padding: 0;
}
.notifications div {
  box-sizing: border-box;
  width: 100%;
  height: 8em;
  padding: 1em;
  margin-bottom: 2em;
  z-index: 3;

  border-radius: 1em;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-family: "Press Start 2P";
  font-size: 0.8em;

  opacity: 0;
  transition: opacity 0.3s ease;
}
.notifications div.active {
  opacity: 1;
}

.keyboard {
  display: none;
  position: fixed;
  top: 50%;
  margin-top: -30vh;
  font-size: 0;
  width: 30vh;
  height: 60vh;
}
.keyboard button {
  font-size: 3vw;
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 25%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);

  /* Prevent mobile browser from selecting text on button */
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;

  /* Prevent mobile browser from adding 300ms delay to touch events */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.keyboard button:active {
  background-color: rgba(0, 0, 0, 0.7);
}
.left-keyboard {
  left: 1vw;
}
.right-keyboard {
  right: 1vw;
}

.settings {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -400px;
  width: 800px;
  height: 800px;
  padding: 2em;
  overflow-y: auto;
  z-index: 2;

  border: 4px solid white;
  border-radius: 1em;
  background-color: black;
  color: white;
  font-family: "Press Start 2P";

  opacity: 0;
  pointer-events: none;
  transform: scale(0.6);
  transition: opacity 0.2s ease, transform 0.2s ease;
  box-shadow: 6px 4px 20px rgba(0,0,0,0.4);
}
.settings.active {
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
}
.settings .nes-container {
  margin-bottom: 1em;
  border-color: white;
}
.settings label {
  display: block;
}
.settings dl dt {
  float: left;
  width: 30%;
}
.settings dl dd {
  margin-left: 30%;
}
.settings .align-right {
  text-align: right;
  margin-bottom: 1em;
}
.nes-btn, .nes-select select, .nes-radio, .nes-radio ~ span {
  border-color: white !important;
  cursor: pointer !important;
}

#keys .row {
  display: flex;
  flex-direction: row;
}
#keys h4 {
  height: 48px;
  line-height: 48px;
  flex: 1 0 10%;
}
#keys .nes-select {
  width: auto;
  flex: 1 1 auto;
}
#keys .row button {
  width: 140px;
  flex: 0 0 140px;
  display: none;
}
.settings.gamepad-found #keys .row button {
  display: block;
}

@media screen and (max-width: 768px) {
  .settings {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    border: 0;
    border-radius: 0;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .display-wrapper {
    left: calc(50% - 14.5vh);
    margin-top: -9.5vh;
  }
  canvas {
    width: 34vh;
    filter: blur(0.05vw) sepia(0.3) brightness(0.9);
  }

  .keyboard {
    margin-top: auto;
    top: auto;
    bottom: 1vh;
    width: 15vh;
    height: 30vh;
  }
  .keyboard button {
    font-size: 3vh;
  }
  .left-keyboard {
    left: auto;
    right: 50%;
  }
  .right-keyboard {
    right: auto;
    left: 50%;
  }
}

/* Only show buttons on touch devices */
@media (hover: none) {
  .keyboard {
    display: block;
  }
}
