html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url('tv.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  perspective: 700px;
}

canvas {
  position: absolute;
  top: 50%;
  left: 35.5vw;
  margin-top: -9.5vw;
  width: 34vw;
  transform: rotateY(-5deg) rotateZ(2deg);

  cursor: pointer;
  background-color: #000;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  filter: blur(0.05vw);
}
canvas.dragging {
  filter: drop-shadow(0px 0px 4vw #FF6633);
  border-radius: 1vw;
}

@media screen and (max-aspect-ratio: 1/1) {
  canvas {
    left: calc(50% - 14.5vh);
    width: 34vh;
    margin-top: -9.5vh;
    filter: blur(0.05vh);
  }
}
